@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #6A6867;
	font-family: "Trispace", sans-serif;
}

header {
	height: 42px;
	background-color: #333;
	color: white;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

header h1 {
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: "wdth" 112.5;
}

.workspace {
	display: grid;
	grid-template-areas: 
		"vectorscope image"
		"settings image";
	grid-template-columns: 400px 1fr;
	grid-template-rows: 400px 1fr;
	height: calc(100vh - 42px);
}

.image_thumbnail {
	grid-area: vectorscope;
	border: 1px solid black;
	align-content: center;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.image_thumbnail canvas {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.config {
	grid-area: settings;
	border: 1px solid black;
	border-top: none;
}

.vectorscope_preview {
	grid-area: image;
	border: 1px solid black;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.vectorscope_preview canvas {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

canvas {
	display: block;
	width: 100%;
}

.config {
	padding: 1rem;
}


input[type=file] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: fade;
	width: 200px;
}